.DS_Store
/backup
/dotfiles/vim/plugged/*
.netrwhist
/dotfiles/config/**/*
/dotfiles/emacs.d/elpa
/dotfiles/emacs.d/auto-save-list
/dotfiles/emacs.d/projectile-bookmarks.eld
/dotfiles/emacs.d/projectile.cache
