[color]
  ui = true
  diff = true
[user]
  email = me@noraesae.net
  name = Hyunje Alex Jun
[alias]
  l = log --pretty=format:'%Cred%h %Cgreen%an %Creset%s' --name-status
  lg = log --decorate=short
  co = checkout
  br = branch
  cm = commit
  pick = cherry-pick
  g = grep --line-number
  sh = show --pretty=format:'%Cred%h %Cgreen%an %Creset%s' --name-status
  st = status
[core]
  editor = nvim
[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f
